<%- flash.each do |name, msg| -%>
  <%- name = :info if name == :notice -%>
  <%- name = :error if name == :alert -%>
  <%- class_name = "alert alert-#{name}" -%>
  <% if msg.is_a?(String) %>
    <%= content_tag :div, :class => class_name  do %>
      <%= msg %>
      <a class="close" data-dismiss="alert" href="#">&times;</a>
    <% end %>
  <% end %>
<%- end -%>