<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "ThemeMy! <sup>beta</sup>".html_safe, root_path, :class => "brand"  %>

      <% if user_signed_in? %>
        <div class="nav-collapse">
          <%= render_navigation :level => 1 %>
        </div><!--/.nav-collapse -->
      <% end %>

      <%= render_navigation :context => :user %>

      <% if user_signed_in? %>
        <p class="navbar-text pull-right">Welcome <%= current_user.full_name %></p>
      <% end %>
    </div>
  </div>
</div>
