<div class="well">
  <p>Congratulations! Now you can push automatic updates to your WordPress customers.</p>
  <p>No more downloading and uploading, no more FTP, just fast, streamlined updates straight to the WordPress Dashboard.</p>
  <p>It's easy to get started:</p>
  <ol>
    <li>Insert our code snippet in your theme.</li>
    <li>Upload a <%= link_to 'Theme', themes_path %> or <%= link_to 'Plugin', plugins_path %>.</li>
    <li>Create a <%= link_to 'Package', packages_path %>.</li>
    <li>Upload your updates and they'll be delivered straight to your customers!</li>
  </ol>
</div>
