<div class="row">
  <div class="span6 offset3 hero-unit">

    <h1 class="page-header">Your account has been deleted</h1>
    <p>We're sorry to see you go but we have deleted your account per your request.</p>
    <p>Feel free to come back in the future and we will happily provide you our services again.</p>
    <p>Missing you already,<br />The Push.ly Team</p>
  </div>
</div>
