<h1 class="page-header">Settings</h1>

<ul class="nav nav-tabs">
  <li class="active"><%= link_to 'Company', settings_business_path %></li>
  <li><%= link_to 'Packages', settings_packages_path %></li>
</ul>