<p>Hello <%= @site.customer.email %>!</p>

<p>You can confirm your website through the link below:</p>

<p><%= link_to 'Confirm my website', "" %></p>
<p><%# link_to 'Confirm my website', site_confirmation_url(@site, :confirmation_token => @site.confirmation_token) %></p>
