<p>Forgotten your password? Easy to do! Click this link to reset it:</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Not sure why you're receiving this email? Let us know by emailing <%= mail_to 'me@domain.com' %>.</p>
