<div class="row">
  <div class="span6 offset3 hero-unit">

    <h1 class="page-header">Your website has been confirmed</h1>
    <p>You will now get the automatic updates directly in your website dashboard.</p>
  </div>
</div>
